@charset "utf-8";
@-webkit-keyframes from-top {
    0% {
        -webkit-transform :translate3d(0px, -100px, 0px);
    }
    100% {
        -webkit-transform :translate3d(0px, 0px, 0px);
    }
}

@keyframes from-top{
    0% {
        transform :translate3d(0px, -100px, 0px);
    }
    100% {
        transform :translate3d(0px, 0px, 0px);
    }
}

.from-top {
    -webkit-animation-name:from-top;
            animation-name:from-top;
    -webkit-animation-duration:1s;
            animation-duration:1s;
    -webkit-animation-iteration-count:1;
            animation-iteration-count:1;
    -webkit-animation-fill-mode:forwards;
            animation-fill-mode:forwards;
}

